@model Factory.DAL.Models.Permission.Module

@{
    ViewData["Title"] = "Module Details";
    Layout = "_LogedUser";

}

<div class="container mt-4 shadow-lg p-3  rounded">
    <div class="mt-5">
        @await Html.PartialAsync("ErrorSummaryPartial")

    </div>

    <h2 class="text-center mb-4 py-3 px-4 rounded">
        <i class="bi bi-person-badge me-2"></i> @ViewData["Title"]
    </h2>

    <div>
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@Model.Name</dd>

            <dt class="col-sm-2">Url</dt>
            <dd class="col-sm-10">@Model.Url</dd>

            <dt class="col-sm-2">Icon Class</dt>
            <dd class="col-sm-10">@Model.IconClass</dd>
        </dl>
    </div>

    <div class="text-center mb-4 bg-light text-dark py-3 px-4 rounded">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>