@model IEnumerable<Factory.DAL.Models.Permission.Module>

@{
    ViewData["Title"] = "Modules";
    Layout = "_LogedUser";

}

<div class="container mt-4 shadow-lg p-3 rounded">
    @await Html.PartialAsync("ErrorSummaryPartial")

    <h2 class="text-center mb-4 py-3 px-4 rounded">
        <i class="bi bi-person-badge me-2"></i> @ViewData["Title"]
    </h2>

    <p>
        <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Url</th>
                <th>Icon Class</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Url</td>
                    <td>@item.IconClass</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>