@model Factory.DAL.Models.Warehouses.MainWarehouse

@{
    ViewData["Title"] = "Delete Main Store";
    Layout = "_LogedUser";
}

<div class="container-fluid card shadow-sm p-3">
    @await Html.PartialAsync("ErrorSummaryPartial")
    @await Html.PartialAsync("_PageTitle")

    <div class="alert alert-danger">
        <strong>Warning!</strong> Are you sure you want to delete the Store <strong>@Model.NameEn</strong> located at <strong>@Model.AddressEn</strong>?
    </div>
    <form method="post">
        <div class="card-footer text-center">
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                <i class="bi bi-trash"></i> Delete
            </button>
            <a href="@Url.Action("Index")" class="btn btn-outline-secondary">
                <i class="bi bi-x-circle"></i> Cancel
            </a>
        </div>
    </form>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Warehouse</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-danger">
                    <strong>Warning!</strong> Are you sure you want to delete the warehouse <strong>@Model.NameEn</strong> located at <strong>@Model.AddressEn</strong>?
                </p>
                <p>This action cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <form method="post">
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
