@model IEnumerable<Factory.DAL.Models.Warehouses.MainWarehouse>

@{
    ViewData["Title"] = "Main Warehouses";
    Layout = "_LogedUser";

}

<div class="container-fluid card  shadow-sm p-3">
    @await Html.PartialAsync("ErrorSummaryPartial")
    @await Html.PartialAsync("_PageTitle")


    <div class="mb-3">
        <a href="@Url.Action("Create")" class="btn btn-outline-primary">Create New MainWarehouse</a>
        <a href="@Url.Action("CreateSubWarehouse", "Warehouse")" class="btn btn-outline-info">Create New Sub Warehouse</a>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name (EN)</th>
                <th>Name (AR)</th>
                <th>Address (EN)</th>
                <th>Address (AR)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var warehouse in Model)
            {
                <tr>
                    <td>@warehouse.NameEn</td>
                    <td>@warehouse.NameAr</td>
                    <td>@warehouse.AddressEn</td>
                    <td>@warehouse.AddressAr</td>
                    <td>
                        <a href="@Url.Action("Details", new { id = warehouse.Id })" class="btn btn-outline-info btn-sm">Details</a>
                        <a href="@Url.Action("Edit", new { id = warehouse.Id })" class="btn btn-outline-warning btn-sm">Edit</a>
                        <a href="@Url.Action("Delete", new { id = warehouse.Id })" class="btn btn-outline-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
